/* src/components/ForgotPassword.css */

.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #12a9a1;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  
  .forgot-password-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
  }
  .forgot-password-input:focus{
    border: none;
  }
  .forgot-password-button {
    background-color: #12a9a1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-button:hover {
    background-color:#12a9a1;
  }
  
  
  